<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="arm_transmission" params="prefix hw_interface">

    <transmission name="${prefix}joint1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint4">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor4">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint5">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor5">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint6">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor6">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
